<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HPQL Admin</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/admin/assets/css/Admin.css" rel="stylesheet">
</head>
{{{body}}}
<footer class="bg-info" id="footer">
    <!-- Grid container -->
    <div class="row mx-0 g-0">
        <div class="col-md-9 col-sm-12 ">

            <div class="row g-0 pt-3">
                <div class="col-md-4 col-sm-12 fw-bold text-center"> THÔNG TIN LIÊN HỆ:
                </div>
                <div class="col-md-3 col-sm-12 text-left">
                    <i class="fa-brands fa-facebook mt-1 me-2 mb-3"></i>Facebook: HPQL
                </div>
                <div class="col-md-5 col-sm-12 sm-text-align">
                    <i class="fa-solid fa-phone mt-1 me-2 mb-3 visible-lg-* "></i>HPQL Hotline: 028 1234 567
                </div>
            </div>
            <div class="row g-0 text-left">
                <div class="col-md-4  col-sm-12"></div>
                <div class="col-md-8  col-sm-12 d-flex flex-row">
                    <i class="fa-solid fa-location-dot mt-1 ms-1 me-2 mb-3"></i>
                    Địa Chỉ Liên Hệ: 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center"> <img
                src="./assets/img/HPQL-Footer.svg" id="footer-Logo" alt="logo">

        </div>
        <div class="row pb-3 text-center copyright">
            <div class=" fs-7">
                Made By HPQL Team 2022
            </div>
        </div>

    </div>




    <!-- Grid container -->

</footer>
</body>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</html>