<main>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin_dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">HPQL</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/admin_dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Management
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/admin_garages">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Nhà Xe</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin_trips">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Chuyến Xe</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                    </ul>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ADMIN
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/index.html"><i
                                        class="fa-solid fa-right-from-bracket"></i>Đăng
                                    xuất</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Danh Sách Chuyến Xe</h1>
                    <div class="row">
                        <a href="/add_trip" class="btn btn-primary ml-3" style="width: 200px">Thêm Chuyến Xe</a>
                    </div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tên nhà xe</th>
                                            <th>Điểm đón khách</th>
                                            <th>Điểm trả khách</th>
                                            <th>Ngày</th>
                                            <th>Thời gian xuất phát</th>
                                            <th>Thời gian đến</th>
                                            <th>Loại ghế</th>
                                            <th>Giá vé</th>
                                            <th>Số lượng ghế</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Phương Trang</td>
                                            <td>
                                                <ul>
                                                    <li>Bến xe Sa Đéc</li>
                                                    <li>Bến xe Cao Lãnh</li>
                                                    <li>Bến xe Long Xuyên, Bến xe Châu Đốc</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Bến xe miền tây</li>
                                                    <li>Bến xe Hùng Cường</li>
                                                </ul>
                                            </td>
                                            <td>15/01/2023</td>
                                            <td>08:00 - 15/01/2023(Bến xe Sa Đéc)</td>
                                            <td>13:30 - 15/01/2023(Bến xe miền tây)</td>
                                            <td>Ghế ngồi</td>
                                            <td>170000đ</td>
                                            <td>45/45</td>
                                            <td>
                                                <a class="btn btn-primary" href="/edit_trip">Sửa</a>
                                            </td>
                                            <td>
                                                <form>
                                                    <input class="btn btn-primary" type="button" value="Xóa"
                                                        onclick="getConfirmation();" />
                                                </form>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phương Trang</td>
                                            <td>
                                                <ul>
                                                    <li>Bến xe Sa Đéc</li>
                                                    <li>Bến xe Cao Lãnh</li>
                                                    <li>Bến xe Long Xuyên, Bến xe Châu Đốc</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Bến xe miền tây</li>
                                                    <li>Bến xe Hùng Cường</li>
                                                </ul>
                                            </td>
                                            <td>15/01/2023</td>
                                            <td>08:00 - 15/01/2023(Bến xe Sa Đéc)</td>
                                            <td>13:30 - 15/01/2023(Bến xe miền tây)</td>
                                            <td>Ghế ngồi</td>
                                            <td>170000đ</td>
                                            <td>45/45</td>
                                            <td>
                                                <a class="btn btn-primary" href="/edit_trip">Sửa</a>
                                            </td>
                                            <td>
                                                <form>
                                                    <input class="btn btn-primary" type="button" value="Xóa"
                                                        onclick="getConfirmation();" />
                                                </form>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phương Trang</td>
                                            <td>
                                                <ul>
                                                    <li>Bến xe Sa Đéc</li>
                                                    <li>Bến xe Cao Lãnh</li>
                                                    <li>Bến xe Long Xuyên, Bến xe Châu Đốc</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Bến xe miền tây</li>
                                                    <li>Bến xe Hùng Cường</li>
                                                </ul>
                                            </td>
                                            <td>15/01/2023</td>
                                            <td>08:00 - 15/01/2023(Bến xe Sa Đéc)</td>
                                            <td>13:30 - 15/01/2023(Bến xe miền tây)</td>
                                            <td>Ghế ngồi</td>
                                            <td>170000đ</td>
                                            <td>45/45</td>
                                            <td>
                                                <a class="btn btn-primary" href="/edit_trip">Sửa</a>
                                            </td>
                                            <td>
                                                <form>
                                                    <input class="btn btn-primary" type="button" value="Xóa"
                                                        onclick="getConfirmation();" />
                                                </form>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; HPQL 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</main>

<script type="text/javascript">

    function getConfirmation() {
        var retVal = confirm("Do you want to delete ?");
        if (retVal == true) {
            //document.write("User wants to continue!");
            return true;
        }
        else {
            //Document.write("User does not want to continue!");
            return false;
        }
    }

</script>