<main>
    <!--Quản Lí Tài Khoản-->
    <div class="wrapper">
        <div class="header">Quản Lí Tài Khoản</div>
        <div class="container row">
            <div class="selection col-md-3 col-sm-12">
                <div class="list-group">
                    <a href="/account_info" class="list-group-item list-group-item-action">
                        <i class="fa-regular fa-circle-user"></i>Thông tin tài khoản
                    </a>
                    <a href="/edit_info" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa thông tin</a>
                    <a href="/change_password" class="list-group-item list-group-item-action active" aria-current="true">
                        <i class="fa-solid fa-unlock"></i>Thay đổi mật khẩu</a>
                    <a href="/history" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-clock"></i>Lịch sử đặt vé</a>
                    <a href="/index" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="content col-md-8 col-sm-12">
                <div class="currentPassword password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Mật khẩu cũ" required>
                </div>
                <div class="newPassword password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Mật khẩu mới" required>
                </div>
                <div class="confirmPassword password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Xác nhận mật khẩu" required>
                </div>
                <div class="btn"><button>Lưu</button></div>
            </div>
        </div>
    </div>
</main>