<main>
    <!--Quản Lí Tài Khoản-->
    <div class="wrapper">
        <div class="header">Quản Lí Tài Khoản</div>
        <div class="container row">
            <div class="selection col-md-3 col-sm-12">
                <div class="list-group">
                    <a href="/account_info" class="list-group-item list-group-item-action">
                        <i class="fa-regular fa-circle-user"></i>Thông tin tài khoản
                    </a>
                    <a href="/edit_info" class="list-group-item list-group-item-action active" aria-current="true">
                        <i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa thông tin</a>
                    <a href="/change_password" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-unlock"></i>Thay đổi mật khẩu</a>
                    <a href="/history" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-clock"></i>Lịch sử đặt vé</a>
                    <a href="/index" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="content col-md-8 col-sm-12">
                <div class="fullname">
                    <h4>Họ và tên</h4>
                    <div class="displayField">
                        <div>Nguyễn Gia Huy</div><i class="fa-regular fa-pen-to-square"></i>
                    </div>
                </div>
                <div class="email">
                    <h4>Email</h4>
                    <div class="displayField">
                        <div>abc@gmail.com</div><i class="fa-regular fa-pen-to-square"></i>
                    </div>
                </div>
                <div class="phone">
                    <h4>Số điện thoại</h4>
                    <div class="displayField">
                        <div>0123456789</div><i class="fa-regular fa-pen-to-square"></i>
                    </div>
                </div>
                <div class="dob">
                    <h4>Ngày sinh</h4>
                    <div class="displayField">
                        <div>05/12/2002</div><i class="fa-regular fa-pen-to-square"></i>
                    </div>
                </div>
                <div class="btn"><button>Lưu</button></div>
            </div>
        </div>
    </div>
</main>