<div class="seat-container row g-0">
  <div class="d-flex justify-content-around">
    <div class="title text-center p-0">
      Tầng dưới (A)
    </div>
    <div class="title text-center p-0">
      Tầng trên (B)
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <div class="p-0 w-25">

      <div class="text-center d-flex justify-content-around">
        <div class="seat-column g-0 d-flex justify-content-start flex-column align-items-center  ">
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
        </div>
        <div class="seat-column g-0 d-flex justify-content-center flex-column align-items-center">
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
        </div>
      </div>
    </div>
    <div class="p-0 w-25">

      <div class="text-center d-flex justify-content-around">
        <div class="seat-column g-0 d-flex justify-content-center flex-column align-items-center">
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
        </div>
        <div class="seat-column g-0 d-flex justify-content-center flex-column align-items-center">
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
          <div class="seat">S1</div>
        </div>
      </div>
    </div>
  </div>
</div>