<div class="seat-container row g-0">
            <div class=" col-12 col-md-5 mx-auto p-0">
              <div class="title text-center p-0">
                Tầng dưới (A)
              </div>
              <div class="text-center row ">
                <div class="seat-column col-4 g-0 d-flex justify-content-start flex-column align-items-center  ">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-0"></div>
            <div class="col-12 col-md-5 mx-auto p-0">
              <div class="title text-center p-0">
                Tầng trên (B)
              </div>
              <div class="text-center row ">
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat sold">S1</div>
                  <div class="seat selected">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
              </div>
            </div>
          </div>