  <main>
    <!-- Multistep progress bar-->
    <div class="step-wizard">
      <ul class="step-wizard-list">
        <li class="step-wizard-item ">
          <span class="progress-count" id="beforeItem">Chuyến Xe</span>
        </li>
        <li class="step-wizard-item">
          <span class="progress-count" id="beforeItem">Chọn giờ</span>
        </li>
        <li class="step-wizard-item">
          <span class="progress-count" id="currentItem">Chọn chỗ</span>
        </li>
        <li class="step-wizard-item">
          <span class="progress-count" id="afterItem">Xác nhận</span>
        </li>
      </ul>
    </div>
    <!-- Box Tìm Vé-->
    <div class="dvx-box container d-flex justify-content-center flex-column">
      <!-- Chuyến xe element-->
      <div>
        <div class="row dvx-chuyenXeBox align-items-center" style="margin: 3rem 2rem;">
          <!-- info-->
          <div class="col-md-10 text-left">
            <div class="row">
              <p class="m-0 p-0">00:03 <i class="fa-solid fa-chevron-right"></i> 00:08</p>
            </div>
            <div class="row">
              170,000đ ~ Giường ~ Còn 34 Chỗ
            </div>
            <div class="row">
              Bến xe miền tây -> bến xe Long Xuyên
            </div>
          </div>
          <!--button-->
          <div class="col-md-2 text-center ">
            <a name="" id="" class="btn btn-dvx" href="/assets/dvx-page/xacNhanVe.html" role="button">></a>
          </div>
          <!--seat-->
          <div class="seat-container row g-0">
            <div class=" col-12 col-md-5 mx-auto p-0">
              <div class="title text-center p-0">
                Tầng dưới (A)
              </div>
              <div class="text-center row ">
                <div class="seat-column col-4 g-0 d-flex justify-content-start flex-column align-items-center  ">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-0"></div>
            <div class="col-12 col-md-5 mx-auto p-0">
              <div class="title text-center p-0">
                Tầng trên (B)
              </div>
              <div class="text-center row ">
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat sold">S1</div>
                  <div class="seat selected">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
                <div class="seat-column col-4 g-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                  <div class="seat">S1</div>
                </div>
              </div>
            </div>
          </div>
          <!--end of seat-->
          <!--showcase-->
          <ul class="showcase ">
            <li id ="showcaseElement">
              <div class="seat"></div>
              <div>Còn chỗ</div>
            </li>
            <li id ="showcaseElement">
              <div class="seat selected"></div>
              <div>Đang chọn</div>
            </li>
            <li id ="showcaseElement">
              <div class="seat sold"></div>
              <div>Đã đặt</div>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </main>
