* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white) !important;
    font-family: 'Inter', sans-serif !important;
}


a {
    text-decoration: none;
    color: black;
}

:root{
    --primary-blue: #4F98CA;
    --green: #50D890;
    --white: #EFFFFB;
} 

.garage-name{
    text-align: center;
    color: var(--green);
    padding-top: 40px;
    padding-bottom: 24px;
    text-transform: uppercase;
}

.container .title{
    font-weight: bold;
    margin-left: -2rem;
}

.container .part{
    padding: 0 5rem;
    padding-bottom: 24px;
}
.container p.introduction-paragraph{
    text-align:justify;
    text-indent: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.08rem;
}
.container .introduction-image{
    text-align: center;
}
.container .introduction-image img{
    width: 100%;
    border-radius: 1rem;
}


.rate{
    /* font-family: 'Changa One', cursive; */
    color: var(--primary-blue);
    font-weight: 700;
}
.rating > *{
    padding: 4px 0.1rem;
}

.number-of-ratings{
    font-size: 0.7rem;
    font-style: italic;
}

i{
    font-size: 1.8rem;
    color: var(--primary-blue);
}

#contact i{
    display: inline-block;
    width: 4rem;
    text-align: center;
    padding: 8px 0;
}

#contact div{
    color: var(--primary-blue);
    font-weight: 700;
}

#contact div span{
    color: black;
    font-weight: normal;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    color: var(--primary-blue) !important;
}
/* trips */
.trip-container .trips {
    display: flex;
    justify-content: center;
}

.trip-container .text header {
    font-size: 25px;
    font-weight: bold;
}

.trip-container .text h6 {
    opacity: 0.75;
}

.trips .trip {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 184px;
    max-width: 454px;
    border: 2px solid var(--primary-blue);
    border-radius: 16px;
    box-shadow: 2px 2px 6px #888888;
    padding: 0;
    cursor: pointer;
}

.trips .trip:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.trip .name-trip {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.trip img {
    border: 1px solid var(--white);
    border-radius: 16px;
    width: 50%;
    height: 180px;
}

/* trips end */