* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    background-color: #CCCCCC;
    font-family: 'Inter', sans-serif;
}
/* ----- Nav Bar Start ----- */
.navbar {
    display: flex;
    align-items: center;
    background-color: #EFFFFB;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    text-transform: uppercase;
    padding: 0px;
}
    /* Nav Bar Logo */
.navbar-brand {
    padding: 4px;
}

.navbar-brand img{
    height: 52px;
}
    /* ---------- */

ul.navbar-nav {
    margin-right: 16px;
}

li.nav-item  {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin:4px 8px;
    border-radius: 12px;
}

li.active {
    border: 2px solid #50D890;
}
/* Note: !important color here */
li.nav-item a.nav-link {
    color: #4F98CA !important;
    font-weight: 600;
}
/* Note: !important color here */
li.active a.nav-link {
    color: #50D890 !important;
}

li:hover {
    background-color: #50D890;
}
/* Note: !important color here */
li:hover a.nav-link {
    color: #EFFFFB !important;
}
/* Note: !important color here */
div.navbar-collapse .btn {
    height: 40px;
    padding: 0px 16px;
    color: #EFFFFB !important;
    background-color: #4F98CA;
    border: none;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
    /* Nav Bar Toggle */
.navbar-toggler {
    background-color: #4F98CA;
    border: none;
    outline: none;
}

.navbar-toggler:hover {
    background-color: #50D890;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}
    /* ---------- */
/* ----- Nav Bar End ----- */